/*
!/.gitignore

# IntelliJ IDEA / Android Studio "Ignore Exceptions"
# - See, https://tips.seebrock3r.me/e28c24fc07aa
!/codeStyles/
!/copyright/
!/fileTemplates/
!/inspectionProfiles/
!/runConfigurations/
!/scopes/
#!/compiler.xml
!/encodings.xml
!/vcs.xml
